# directories
.parcel-cache/
.vscode/
coverage/
dist/
node_modules/
package/
plugins/
storage/

# files
.env
*.log
*.stackdump
htpasswd

# yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
