#
# Look here for more config file examples:
# https://github.com/verdaccio/verdaccio/tree/master/conf
#

storage: ./storage
plugins: ./plugins

middlewares:
  github-oauth-ui:
    enabled: true

auth:
  github-oauth-ui:
    org: GITHUB_ORG # required, people within this org will be able to authenticate
    client-id: GITHUB_CLIENT_ID # required
    client-secret: GITHUB_CLIENT_SECRET # required
    # enterprise-origin: GITHUB_ENTERPRISE_ORIGIN # optional, set this if you are using github enterprise
  htpasswd:
    file: ./htpasswd

security:
  api:
    jwt:
      sign:
        expiresIn: 90d
  web:
    sign:
      expiresIn: 7d

packages:
  "@*/*":
    access: $authenticated
    publish: $authenticated

  "**":
    access: $authenticated
    publish: $authenticated
