/**
 * Hide the "To publish your first package just:" section
 * since it shows commands that don't make sense with OAuth.
 */
[class*="help__noPkgIntro"] {
  display: none;
}

/**
 * Increase the header width.
 */
[class*="header__headerWrap"] {
  padding: 0 1rem;
  max-width: 1240px;
}

/**
 * Show ellipsis when token is too long.
 */
[class*="header__headerWrap"] figure {
  margin: 0.25rem 0.5rem;
  padding: 0.25rem 0.5rem;
  max-height: 70px; /* header height */
  overflow-x: hidden;
  overflow-y: auto;
  text-overflow: ellipsis;
  line-height: 1rem;
}

/**
 * Prevent wrapping of the welcome text.
 */
.user-logged {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

/**
 * Prevent logo flicker while loading.
 */
[class*="header__logo"] {
  width: 150.5px;
  height: 50px;
}
